In [1]:
# Python Collections
# List
# Tuple
# Dictionary
# Set

In [2]:
# # List
# -Indexed
# -Ordered
# -Duplicate Members
# -Mutable

In [4]:
a  = ["Apple","Ball"]
b = [1,2,3,4,5]
print(a)
print(b)

print(type(a))
print(type(b))

['Apple', 'Ball']
[1, 2, 3, 4, 5]
<class 'list'>
<class 'list'>

In [5]:
print(len(a))
print(len(b))

2
5

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[1])

Ball

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:6:2])

['Apple', 'Cat', 'Fish']

In [12]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = ["Dog","Cat"]
c = b+a
print(c)

['Dog', 'Cat', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [14]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        break
    print(i)

Apple
Ball

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        continue
    print(i)

Apple
Ball
Dog
Fish

In [20]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
#     names = names+[name]
    names.append(name)
print(names)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [21]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    name = int(input("Enter name = "))
#     names = names+[name]
    names.append(name)
print(names)

Enter n = 5
Enter name = 234
Enter name = 466
Enter name = 345
Enter name = 5675
Enter name = 345
[234, 466, 345, 5675, 345]

In [25]:
print("Sum of no is = ",sum(names))
print("The max value = ",max(names))
print("The max value = ",min(names))
names.sort()
print(names)
names.reverse()
print(names)

Sum of no is =  7065
The max value =  5675
The max value =  234
[234, 345, 345, 466, 5675]
[5675, 466, 345, 345, 234]

In [26]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a.sort()
print(a)

['Akash', 'Hari', 'Nabin', 'Sita', 'nita']

In [27]:
# insert()
a = ["Hari","Sita","Akash","Nabin","nita"]
a.insert(1,"Binam")
a

['Hari', 'Binam', 'Sita', 'Akash', 'Nabin', 'nita']

In [28]:
# extend()
a = ["Hari","Sita","Akash","Nabin","nita"]
b = [1,2,3,4]
a.extend(b)
print(a)

['Hari', 'Sita', 'Akash', 'Nabin', 'nita', 1, 2, 3, 4]

In [32]:
a = ["Hari","Sita","Akash","Nabin","nita"]
b = [1,2,3,4]
x = [a[0]]
c = x+b+a[1:]
c

['Hari', 1, 2, 3, 4, 'Sita', 'Akash', 'Nabin', 'nita']

In [34]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a[0] = "Harry"
a

['Harry', 'Sita', 'Akash', 'Nabin', 'nita']

In [35]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a[0:2] = ["Harry","Sam"]
a

['Harry', 'Sam', 'Akash', 'Nabin', 'nita']

In [36]:
#del remove() pop()
a = ["Hari","Sita","Akash","Nabin","nita"]
del a[0]
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [38]:
a = ["Hari","Sita","Akash","Nabin","nita"]
del a[0:3]
print(a)

['Nabin', 'nita']

In [39]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a.remove("Hari")
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [42]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
for i in a:
    if i == "Hari":
        a.remove("Hari")
    
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [44]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
for i in range(len(a)):
    if a[i] == "Hari":
        print(i)

0
5

In [46]:
# pop()
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
b = a.pop(3)
print(a)
print(b)

['Hari', 'Sita', 'Akash', 'nita', 'Hari']
Nabin